<!--
  Generated template for the PlanosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title>Planos</ion-title>
  </ion-navbar>
  <ion-item>
      <ion-label>Opciones</ion-label>
      
      <ion-select [(ngModel)]="opciones" interface="action-sheet" (ionChange)="monthfilter(opciones);">
        <div *ngFor="let item of someData; let i = index;"> 
          <ion-option [selected]="i===0" [value]=item.floorPlanImageURL>{{item.floorPlanName}}</ion-option>
        </div>
      </ion-select>
    </ion-item>
</ion-header>

<ion-content padding>
      <img [src]="urlFloorImage"/>
</ion-content>
