<ion-header #head hideBackButton="false" no-border>
  <ion-navbar color="primary">
    <ion-title>
      {{conferen.contacts}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding hide-header [header]="head">
    <ion-img style="width: 100%; height: 25%;" [src]=imagenFondo></ion-img>
    <ion-avatar class="avatarimg">
        <img [src]=conferen.images onerror="this.onerror=null;this.src='/assets/imgs/none_1.jpg';" />
    </ion-avatar>
    <ion-grid padding>  
    <h3 ion-text color="primary"> {{conferen.contacts}}</h3>
    <div *ngIf="conferen.jobTitle.length > 1">
      <div *ngIf="conferen.organizationName.length > 1">
          {{conferen.jobTitle}} en {{conferen.organizationName}}
      </div>
    </div>
    <div [innerHTML]="conferen.characteristic"></div>
    <ion-item-divider>
      <button ion-item  *ngFor="let i of traspaso;" (click)="goConf(i)">
        <div class="info">
            <h2 ion-text>{{i.name}}</h2>
        </div>
        <br>
        <div class="fecha">
          <h6 ion-text > {{i.from}} - {{i.to}} </h6> 
          </div>
        <div class="tracks">
            <h2 ion-text>{{i.trackN}}</h2>
        </div>
        <div *ngIf="i.speakersNames">                            
            <div *ngIf="i.speakersNames.length > 0 ">
                    <div *ngFor="let speaker of i.speakersNames;">
                    <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    {{speaker}}
            </div>
        </div> 
        </div>
        <div *ngIf="i.place">
                <h4 ion-text><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  {{i.place}}</h4>
        </div> 
      </button>
      <button ion-item  *ngFor="let i of traspaso2;" (click)="goBof(i)">
        <div class="info">
            <h2 ion-text>{{i.name}}</h2>
        </div>
        <div class="fecha">
          <h6 ion-text > {{i.from}} - {{i.to}} </h6> 
          </div>
        <div class="tracks">
            <h2 ion-text>{{i.trackN}}</h2>
        </div>
        <div *ngIf="i.speakersNames">                            
            <div *ngIf="i.speakersNames.length > 0 ">
                    <div *ngFor="let speaker of i.speakersNames;">
                    <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    {{speaker}}
            </div>
        </div> 
        </div>
        <div *ngIf="i.place">
                <h4 ion-text><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  {{i.place}}</h4>
        </div> 
      </button>
  </ion-item-divider>
</ion-grid>
</ion-content>