page-detalle-conf {


    ion-avatar {
        margin-top: -30px;
        margin-left: 30px;	
    }

    ion-avatar,
        ion-avatar > img{
            position: relative;
            overflow: auto;
            border-radius:50%;
            height:12rem;
            width:12rem;
            background-color: grey;           
        }

}
