<ion-header>
        <ion-navbar color="primary">
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>BOFs</ion-title>
        </ion-navbar>
        <ion-toolbar>
            <ion-segment [(ngModel)]="page" no-padding no-margin color="primary">
              <ion-segment-button #search *ngFor="let fecha of fechas; index as i;" [id] ="i" [value]="i" (click)="selecOpcion(i, $event)" (click)="selectedTab(i)" >
                 {{fecha}}
              </ion-segment-button>
             </ion-segment>
        </ion-toolbar> 
      </ion-header>
      <ion-content padding>  
              <ion-slides>
                  <div *ngIf="error == 1; else elseBlock">
                          <h1>No se encontraron resultados</h1>
                  </div>
                  <ng-template #elseBlock>
                      <div *ngFor="let e of event; index as n;">
                          <ion-item-group>
                              <div *ngIf="event.length == 0"> <h1> No hay Sesiones agregados</h1></div>
                              <ion-slide >
                                  <div *ngFor="let i of e; index as m;">
                                  <ion-item-divider *ngIf="title[n][m];"> {{title[n][m]}}</ion-item-divider>
                                      <button ion-item (click)="goTo(i)" [navPush]="pushPage" light>
                                          <div class="fecha" item-start>
                                          <h6 ion-text > {{i.from}}  -  {{i.to}} </h6> 
                                          </div>
                                          <div class="info">
                                              <h2 ion-text>{{i.name}}</h2>
                                          </div>
                                          <div class="tracks">
                                              <h2 ion-text>{{i.trackN}}</h2>
                                          </div>
                                          <div *ngIf="i.speakersNames">                         
                                              <div *ngIf="i.speakersNames.length > 0 ">
                                                  <ion-icon ios="ios-person" md="md-person"></ion-icon>                                              
                                                  {{i.speakersNames}}
                                                  
                                              </div> 
                                          </div>
                                          <div *ngIf="i.place">
                                                  <h4 ion-text><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  {{i.place}}</h4>
                                          </div> 
                                      </button>
                              </div>
                              </ion-slide>
                          </ion-item-group>
                      </div> 
                  </ng-template>
              </ion-slides>
      </ion-content>
      
  
