<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
       <ion-title>Mapas</ion-title>
    </ion-navbar>
    <ion-item color="primary">
    <div *ngIf="someData">
        <h1>{{nombreMapa}}</h1>
        <h2>{{direccion}}</h2>
        <br>
     </div>
    </ion-item> 
    <ion-item>
        <ion-label>Opciones</ion-label>
        <ion-select [(ngModel)]="opciones" interface="action-sheet" (ionChange)="filtrarMapa(opciones);">
          <div *ngFor="let item of someData; let i = index;"> 
            <ion-option [selected]="i===0" [value]=item.locationId>{{item.locationName}}</ion-option>
          </div>
        </ion-select>
    </ion-item>
</ion-header>
<ion-content>
  <div id="mapid" style="width:100%; height:96%; position: absolute; bottom: 0; left: 0;"></div>
</ion-content>
