<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Expositores</ion-title>
  </ion-navbar>
  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
</ion-header>

<ion-content>
<ion-refresher enabled={{pullToRefresh}}
    (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
        pullingText="Pull to refresh"
        pullingIcon="arrow-up"
        refreshingSpinner="crescent">
    </ion-refresher-content>
</ion-refresher>
<div *ngIf="error != null"> <h1> &nbsp; No se encontraron Conferencistas </h1></div>
  <ion-item-group *ngFor="let group of groupedContacts">
      <ion-item-divider light>{{group.letter}}</ion-item-divider>
      <ion-list>
      <div *ngFor="let contact of group.contacts; index as n" >
              <button ion-item (click)="goTo(group,n)" [navPush]="pushPage"> 
                  <ion-avatar item-start>
                      <img src={{group.images[n]}} onerror="this.onerror=null;this.src='/assets/imgs/none_1.jpg';" />
                  </ion-avatar>
                  {{contact}} 
                  <div *ngIf="group.jobTitle[n].length > 1">
                      <div *ngIf="group.organizationName[n].length > 1">
                         <h6> {{group.jobTitle[n]}} / {{group.organizationName[n]}}</h6>
                      </div>
                    </div>
              </button>
        </div>
    </ion-list>
  </ion-item-group>
</ion-content>