<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-item *ngFor="let info of listaInfo" (click)="goTo(info)" [navPush]="pushPage">
    {{info.infoTitle}}
  </button> 


</ion-content>
