<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Eventos</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="page" no-padding no-margin color="primary">
          <ion-segment-button *ngFor="let fecha of fechas; index as i;" [id] ="i" [value]="i" (click)="setOption(i, $event)" (click)="selectedTab(i)" >
             {{fecha}}
          </ion-segment-button>
         </ion-segment>
    </ion-toolbar> 
  </ion-header>
  <ion-content padding>  
          <ion-slides>
              <div *ngIf="error == 1; else elseBlock">
                      <h1>No se econtraron resultados</h1>
              </div>
              <ng-template #elseBlock>
                <div *ngIf="event.length == 0"> <h1> No hay Eventos agregados</h1></div>
                  <div *ngFor="let e of event;">
                      <ion-slide >
                          <button (click)="goTo(i)" [navPush]="pushPage" ion-item *ngFor="let i of e;">
                              <div class="fecha" item-start>
                                 <h6 ion-text > {{i.from}}  -  {{i.to}} </h6> 
                              </div>
                              <div class="info">
                                  <h2 ion-text>{{i.name}}</h2>
                              </div>
                              <div class="tracks">
                                  <h2 ion-text>{{i.trackN}}</h2>
                              </div>
                              <div *ngIf="i.speakersNames">                            
                                  <div *ngIf="i.speakersNames.length > 0 ">
                                          <div *ngFor="let speaker of i.speakersNames;">
                                          <ion-icon ios="ios-person" md="md-person"></ion-icon>
                                          {{speaker}}
                                  </div>
                              </div> 
                              </div>
                              <div *ngIf="i.place">
                                      <h4 ion-text><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  {{i.place}}</h4>
                              </div> 
                          </button>
                      </ion-slide>
                  </div> 
              </ng-template>
          </ion-slides>
  </ion-content>
