<ion-menu [content]="NAV">
    <ion-header>
        <ion-navbar color="primary">
            <button ion-button menuToggle>
                <ion-icon name="md-close"></ion-icon>
            </button>
        <ion-title>Menú</ion-title>
    </ion-navbar>
    <img [src]="imagenMenu" alt="Imagen de conferencia">
    </ion-header>
    <ion-content>    
        <ion-item-divider>
            <ion-list>
                <button ion-item *ngFor="let page of pages" (click)="goToPage(page.componente)" menuClose>
                    {{page.titulo}}
                </button>  
            </ion-list>
        </ion-item-divider>        
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #NAV swipeBackEnabled="false"></ion-nav>