<ion-header #head class="FadeIn"  hideBackButton="false" no-border >
  <ion-navbar color="primary" >
    <ion-title>
      {{sesion.name}}
    </ion-title>
  </ion-navbar>
  </ion-header>

<ion-content no-padding hide-header [header]="head">
  <ion-img style="width: 100%; height: 25%;" [src]=imagenFondo></ion-img>
  <button   (click)="guardar_sesion(sesion.eventId)" color="primary" ion-fab mini style="float: right; margin-top:-30px;"><ion-icon [name]="iconoGuardado"></ion-icon></button>
  <ion-grid padding> 
  <h3 ion-text color="primary">{{sesion.name}}</h3>
    <div class="fecha">{{sesion.from}} - {{sesion.to}}, {{sesion.place}}</div> 
      {{sesion.trackN}}
    <div *ngIf="sesion.speakers.length > 0 ">
          <button ion-item *ngFor="let speaker of sesion.speakersNames; index as m;" (click)="goConf(sesion.speakers[m])" >
            <ion-avatar item-start>
              <img src={{sesion.speakersImagen[m]}} onerror="this.onerror=null;this.src='/assets/imgs/none_1.jpg';"/> 
            </ion-avatar>
             {{speaker}} 
          </button>  
    </div>
    <br>
    <div [innerHTML]="sesion.text"></div>
  </ion-grid>
</ion-content>
