page-detalles-info {

    ion-content {
        background-image: url('<a class="vglnk" href="https://images.pexels.com/photos/107958/pexels-photo-107958.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" rel="nofollow"><span>https</span><span>://</span><span>images</span><span>.</span><span>pexels</span><span>.</span><span>com</span><span>/</span><span>photos</span><span>/</span><span>107958</span><span>/</span><span>pexels</span><span>-</span><span>photo</span><span>-</span><span>107958</span><span>.</span><span>jpeg</span><span>?</span><span>w</span><span>=</span><span>940</span><span>&</span><span>h</span><span>=</span><span>650</span><span>&</span><span>auto</span><span>=</span><span>compress</span><span>&</span><span>cs</span><span>=</span><span>tinysrgb</span></a>');
        background-size: cover;
        background-position-x: 50%;
      }
      .bar-buttons,
      .toolbar-title {
        color: #fff;
      }


}
