<ion-header #head class="FadeIn"  hideBackButton="false" no-border >
  <ion-navbar color="primary" >
    <ion-title>
      {{info.infoTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding hide-header [header]="head">
    <ion-img style="width: 100%; height: 25%;" src="https://via.placeholder.com/450x200"></ion-img>
    <ion-grid padding> 
       <h2> {{info.infoTitle}} </h2>
      <div [innerHTML]="info.html"></div>
    </ion-grid>
</ion-content>
