page-guardado {
    ion-segment {
        display: inline-block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        text-align: center;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }

    .divider-left {
        text-align: left;
      }
}
