<ion-header >
    <ion-navbar color="primary" no-border>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Mi Calendario
      </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary"  no-border>
        <ion-segment [(ngModel)]="page" no-padding no-margin color="light">
          <ion-segment-button #search *ngFor="let fecha of fechas; index as i;" [id] ="i" [value]="i"  (click)="selecOpcion(i, $event)" (click)="selectedTab(i)" >
             {{fecha}}
          </ion-segment-button>
         </ion-segment>
    </ion-toolbar> 
  </ion-header>
  <ion-content padding >
          <ion-slides>
              <div *ngIf="error == 1 || this.event.length == 0; else elseBlock">
                      <h1 padding>No se encontraron resultados</h1>
              </div>
              <ng-template #elseBlock>
                  <div *ngFor="let e of event; index as n;">
                      <ion-item-group>
                          <div *ngIf="event.length == 0"> <h1> No hay Sesiones Guardados</h1></div>
                          <ion-slide >
                              <div *ngFor="let i of e; index as m;">
                              <ion-item-divider class="divider-left" *ngIf="title[n][m];"> <span class="divider-left">{{title[n][m]}}</span></ion-item-divider>
                                  <button ion-item (click)="goTo(i)" [navPush]="pushPage" light>
                                      <div class="info">
                                          <h2 ion-text>{{i.name}}</h2>
                                      </div>
                                      <div class="tracks">
                                          <h2 ion-text>{{i.trackN}}</h2>
                                      </div>
                                      <div class="fecha">
                                          <h6 ion-text > {{i.from}}  -  {{i.to}} </h6> 
                                          </div>
                                      <div *ngIf="i.speakersNames">                         
                                          <div *ngIf="i.speakersNames.length > 0 ">
                                              <ion-icon ios="ios-person" md="md-person"></ion-icon>                                              
                                              {{i.speakersNames}}
                                              
                                          </div> 
                                      </div>
                                      <div *ngIf="i.place">
                                              <h4 ion-text><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  {{i.place}}</h4>
                                      </div> 
                                  </button>
                          </div>
                          </ion-slide>
                      </ion-item-group>
                  </div> 
              </ng-template>
          </ion-slides>
  </ion-content>
  
  